<% throw_content :title, "Weather for #{@place.name}" %>

    <small class="sublabel"><%= @place.county %> County</small>
    <h1 class="label"><%= @place.name %></h1>
    <%- @alerts.each do |alert| -%>
    <ul class="rect">
      <li><%= alert.message %></li>
      <%- unless alert.effective.blank? -%>
      <li>Effective: <small><%= alert.effective %></small></li>
      <%- end -%>
      <%- unless alert.expires.blank? -%>
      <li>Expires: <small><%= alert.expires %></small></li>
      <%- end -%>
    </ul>
    <%- end -%>
  <!-- <%= @place.inspect %> -->
